.div-contenedor{
  display: flex;
}

#gif{
  margin: 0;
  padding: 0;
  width:  82px;
  height: 73px;
  display: none;
}
.gif{
  margin: 0;
  padding: 0;
   display: flex;
  justify-content: center;  
  
 }
 .div-fondo{
  background-image: url(../../../assets/imagenes/fondo2.jpeg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 72%;
  height: 104vh; 
}


.login-form{
  width: 28%;
  background-color: white;
  overflow: auto;
  height: 105vh;    
  margin-top: -7px; 
  -webkit-box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
  -moz-box-shadow:-2px 1px 12px 0px rgba(217, 219, 219, 0.9);
  box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
  animation-name: prueba;
  animation-duration: 220ms;
}
@keyframes prueba {
 from{ 
  width: 0px;
  }
  to{
   width: 28%;
  }    
}

.alert-danger{
    background-color: #DB0D0D;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   border-radius: 10px;
   display: none;
   opacity: 0.8;
   }

   .alert-danger2{
    background-color: #00923F;
    border:1px solid #00923F;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   border-radius: 10px;
   display: none;
   }
   
   #crearCuenta{   
      color: #fff;
      background-color: #00923F;
      border-color: #00923F;
      -webkit-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    
   }
   #btn-crearC:hover{
    color: #0a0a0a;
    text-decoration: underline;
    transition: 300ms all;
   }
   
   
   .container #logoInicio{
       display: flex;
       margin: 0 auto;
     }
     #logoInicio{
      width: 141px;
    height: 138px;
      margin-bottom: 10px !important;
     }
     
     
     .validar{
       margin-bottom: 0 !important;
     }
     
     
     .form-group a:Hover{
      /*color: #17A2B8; */
      color: #0a0a0a;
      text-decoration: underline;
      transition: 300ms all;
     }
     
     .input-group-text img{
       width: 20px;
       height: 20px; 
     }
     #btn-crearC{
       font-style: italic;
       font-size: small;
       text-decoration: none;
       color: black;
      
       
     }
     .form-group #btn-crearC, .form-group #btn-olvideC,#tenerCuenta{
      display: flex;
      justify-content: center;
     }
     
     .error{
       font-style: italic; 
       font-size: small;
       color: #DB0D0D;
       margin: 0;
       padding: 0;
       margin-bottom: 20px;
     }
     
     @media  (max-width: 1024px){
      .login-form{   
        width: 50%;  
      }
      .div-fondo{
        width: 60%;
      }
     }
    @media  (max-width: 772px){
     .login-form{   
       width: 100%;  
     }
     .div-fondo{
       display: none;
     }
    }
    
    @media  (max-width: 298px){
      #logoInicio{
        width: 102px;
        height: 99px;
      }
      #btn-olvideC{
        font-size: small;
      }   
     }  

      #tenerCuenta{
        font-weight: bolder;
        font-size: smaller;
        margin-bottom: 0;;
      }

      
     input, .valid, input[type ="email"],input[type ="password"] {
      border: 1px solid  #00923F;
    } 
    input:focus {
      box-shadow: none;
      border: 1px solid #F8C300;   
   }
   
    input:hover {    
      border: 1px solid #F8C300;    
    }

    #containerMayor{
      position: relative;
      
    }
    #errorM{
      position: absolute;
      left: 35px;
      top: 100px;
      z-index: 0;
      right: 35px;
      font-size: small;
    }

    #title-crearU{
      text-align: center;
      padding-bottom: 0 !important;
    }


    
   