<div class="div-contenedor">
    <div class="div-fondo"></div>
    <div class="login-form">
        <form  class="data-form mt-3" novalidate (ngSubmit)="registrarUsuario()" [formGroup]="formCrearUsuario">
            <div class="container " id="containerMayor">
                <div class="container">
                    <div class="container  my-4" id="title-crearU">
                        <img src="../../assets/imagenes/logo.png" alt="LOGO SIBEPct" id="logoInicio">
                        <h5>CREAR USUARIO</h5>
                    </div>
                    <mat-form-field appearance="outline" class="input-form">
                        <mat-label>Cédula</mat-label>
                        <input matInput formControlName="cedula" autofocus>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        <mat-error *ngIf="formCrearUsuario.get('cedula').hasError('pattern') ">
                          Por favor ingrese una cédula válida
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('cedula').hasError('required')">
                          La cédula es <strong>obligatoria</strong>
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('cedula').hasError('minlength')">
                          La cédula debe tener minimo 5 digitos
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="input-form">
                        <mat-label>Nombres Completos</mat-label>
                        <input matInput placeholder="Juanito Pérez" formControlName="name">
                        <mat-icon matSuffix>person_pin</mat-icon>
                        <mat-error *ngIf="formCrearUsuario.get('name').hasError('pattern') ">
                          Por favor ingrese un nombre válido
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('name').hasError('required')">
                          El nombre es <strong>obligatorio</strong>
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('name').hasError('minlength')">
                          El nombre debe tener minimo 7 caracteres
                        </mat-error>
                      </mat-form-field>
                      
                    <mat-form-field appearance="outline" class="input-form">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="email" placeholder="Ingrese el correo"
                            [(ngModel)]="formCrearUsuario.value.email"/>
                        <mat-icon  class="icon-email"matSuffix>email</mat-icon>
                        <mat-error *ngIf="formCrearUsuario.get('email').hasError('pattern')">
                            Por favor ingrese un correo <strong>válido</strong>
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('email').hasError('required')">
                            EL correo es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                 
                    <mat-form-field appearance="outline" class="input-form">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="formCrearUsuario.get('password').hasError('minlength')">
                          La contraseña debe tener minimo 6 caracteres
                        </mat-error>
                        <mat-error *ngIf="formCrearUsuario.get('password').hasError('required')">
                          La contraseña es <strong>obligatoria</strong>
                        </mat-error>
                      </mat-form-field>
                    <div class="form-group">
                        <input type="submit" value="CREAR USUARIO" class="btn btn-secondary btn-block " id="crearCuenta"
                            [disabled]="formCrearUsuario.invalid">
                    </div><br>
                    <div class="form-group ">
                        <p id="tenerCuenta">¿Tienes una cuenta? </p>
                        <a id="btn-crearC" [routerLink]="['/']">Iniciar Sesión</a>
                    </div>
                </div>
            </div><br><br><br><br>
        </form>
    </div>
</div>
<ngx-alerts></ngx-alerts>
<ngx-spinner type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>