.alert-danger{
    background-color: #DB0D0D;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   border-radius: 10px;
   display: none;
   }

   .alert-danger2{
    background-color: #00923F;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   -moz-box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   box-shadow: -1px 2px 20px 0px rgba(0,0,0,0.39);
   border-radius: 10px;
   display: none;
   }
   
   #crearCuenta{   
      color: #fff;
      background-color: #00923F;
      border-color: #00923F;
      -webkit-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
    
   }
   #btn-crearC:hover{
    color: #0a0a0a;
    text-decoration: underline;
    transition: 300ms all;
   }
   
   
   .container #logoInicio{
       display: flex;
       margin: 0 auto;
     }
     #logoInicio{
      width: 164px;
      height: 165px;
     }
     
     .login-form{
       width: 377px;
       background-color: white;
       overflow: auto;
       height: 105vh;
       float: right; 
       margin-top: -7px; 
       -webkit-box-shadow: -6px 1px 12px 0px rgba(39,45,117,0.43);
       -moz-box-shadow: -6px 1px 12px 0px rgba(39,45,117,0.43);
       box-shadow: -6px 1px 12px 0px rgba(39,45,117,0.43);
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
     }
     .validar{
       margin-bottom: 0 !important;
     }
     
     
     .form-group a:Hover{
      /*color: #17A2B8; */
      color: #0a0a0a;
      text-decoration: underline;
      transition: 300ms all;
     }
     
     .input-group-text img{
       width: 20px;
       height: 20px; 
     }
     #btn-crearC{
       font-style: italic;
       font-size: small;
       text-decoration: none;
       color: black;
      
       
     }
     .form-group #btn-crearC, .form-group #btn-olvideC,#tenerCuenta{
      display: flex;
      justify-content: center;
     }
     
     .error{
       font-style: italic; 
       font-size: small;
       color: #DB0D0D;
       margin: 0;
       padding: 0;
       margin-bottom: 20px;
     }
     
     @media  (max-width: 772px){
      .login-form{   
        width: 100%;  
      }
     }
     
     @media  (max-width: 298px){
       #logoInicio{
         width: 185px;
         height: 90px;
       }
       #btn-olvideC,#tenerCuenta{
         font-size: small;
       }   
      
      }

      #tenerCuenta{
        font-weight: bolder;
        font-size: smaller;
        margin-bottom: 0;;
      }

      input:focus {
        box-shadow: none;
        border: 1px solid #F8C300;   
     }

     input, .valid, input[type ="email"],input[type ="password"] {
      border: 1px solid  #00923F;
    } 
