<div class="contenedor-principal">

    <div class="div-contenido">
        <h4>Datos</h4>
        <mat-divider></mat-divider>

        <div class="container div-data row ">
            <div class="card-div col-lg-2 ">
                <p>Vendedores</p>
                <span>{{vendedoresNu}}</span>
            </div>
            <div class="card-div col-lg-2">
                <p>Productos</p>
                <span>{{productosN}}</span>
            </div>

            <div class="card-div col-lg-2">
                <p>Ingresos</p>
                <span>{{ingresosN}}</span>
            </div>
            <div class="card-div col-lg-2 salidas">
                <p class="salidas">Salidas a Vendedor</p>
                <span>{{salidasV}}</span>
            </div>
            <div class="card-div col-lg-2 salidas">
                <p class="salidas">Salidas a destrucción</p>
                <span>{{salidasD}}</span>
            </div>
        </div>
        <div class="container">
            <p class="title-data">Últimos Vendedores</p>
        </div>
        <div class="container table-responsive">
            <table class="table table-bordered ">

                <thead>

                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="vendedores2; then dataV else sinData"></div>
                    <ng-template #dataV>
                        <tr *ngFor="let fila of vendedores">
                            <td>{{fila.cedula}}</td>
                            <td>{{fila.nombres}}</td>
                            <td>{{fila.apellidos}}</td>
                            <td>{{fila.telefono}}</td>
                        </tr>
                    </ng-template>
                    <ng-template #sinData>
                        <tr>
                            <td colspan="4">Sin datos</td>
                        </tr>
                    </ng-template>


                </tbody>
            </table>
            <div class="div-button" *ngIf="vendedores2">
                <a routerLink="../vendedor" class="btn btn-secondary btn-sm">Ver más</a>
            </div>
        </div>
        <div class="container">
            <p class="title-data">Últimos Ingresos</p>
        </div>
        <div class="container table-responsive ">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">N° de Acta</th>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Cantidad Ingresada</th>
                        <th scope="col">Nombres del Vendedor</th>
                        <th scope="col">Apellidos del Vendedor</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="ingresos2; then dataI else sinData1"></div>
                    <ng-template #dataI>
                        <tr *ngFor="let fila of ingresos">
                            <td>{{fila.numero_acta}}</td>
                            <td>{{fila.fechaIngreso}}</td>
                            <td>{{fila.cantidadIngresada}}</td>
                            <td>{{fila.nombres}}</td>
                            <td>{{fila.apellidos}}</td>
                        </tr>
                    </ng-template>
                    <ng-template #sinData1>
                        <tr>
                            <td colspan="5">Sin datos</td>
                        </tr>
                    </ng-template>
                </tbody>

            </table>
            <div class="div-button" *ngIf="ingresos2">
                <a routerLink="../ingreso" class="btn btn-secondary btn-sm">Ver más</a>
            </div>
        </div>
        <div class="container">
            <p class="title-data">Últimas Salidas a Vendedor</p>
        </div>
        <div class="container table-responsive">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Cédula Retira</th>
                        <th scope="col">Nombres Retira</th>
                        <th scope="col">Fecha Salida</th>
                        <th scope="col">Cantida Retirada</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="salidasVendedor2; then dataSv else sinData2"></div>
                    <ng-template #dataSv>
                        <tr *ngFor="let fila of salidasVendedor">
                            <td>{{fila.cedulaNombreRetira}}</td>
                            <td>{{fila.nombreRetira}}</td>
                            <td>{{fila.fechaSalida}}</td>
                            <td>{{fila.cantidadRetirada}}</td>
                        </tr>

                    </ng-template>

                    <ng-template #sinData2>
                        <tr>
                            <td colspan="4">Sin datos</td>
                        </tr>
                    </ng-template>

                </tbody>
            </table>
            <div class="div-button" *ngIf="salidasVendedor2">
                <a href="" class="btn btn-secondary btn-sm">Ver más</a>
            </div>
        </div>
        <div class="container">
            <p class="title-data">Últimas Salidas a Destrucción</p>
        </div>
        <div class="container table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Cédula Retira</th>
                        <th scope="col">Nombres Retira</th>
                        <th scope="col">Fecha Salida</th>
                        <th scope="col">Cantida Retirada</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="salidasDestruccion2; then dataSd else sinData3"></div>
                    <ng-template #dataSd>
                        <tr *ngFor="let fila of salidasDestruccion">
                            <td>{{fila.cedulaNombreRetira}}</td>
                            <td>{{fila.nombreRetira}}</td>
                            <td>{{fila.fechaSalida}}</td>
                            <td>{{fila.cantidadRetirada}}</td>
                        </tr>

                    </ng-template>

                    <ng-template #sinData3>
                        <tr>
                            <td colspan="4">Sin datos</td>
                        </tr>
                    </ng-template>

                </tbody>
            </table>
            <div class="div-button" *ngIf="salidasDestruccion2">
                <a href="" class="btn btn-secondary btn-sm">Ver más</a>
            </div>
        </div>

        <ngx-spinner type="ball-spin-clockwise">
            <p style="font-size: 20px; color: white">Cargando...</p>
        </ngx-spinner>
    </div>

</div>
<ngx-alerts></ngx-alerts>