<div class="div-contenido">
  <h4>Gestionar Vendedores</h4>
  <mat-divider></mat-divider>
  <ngx-alerts></ngx-alerts>
  <div class="container table-responsive mt-2 ">

    <div >     
      <form class="div-search-button" >
        <mat-form-field id="mat-fiel">
          <mat-label>Buscar Vendedor</mat-label>
          <input matInput placeholder="Ingrese la cédula" [(ngModel)]="filtro" name="filtro">
        </mat-form-field>       
        <button class="btn btn-success" title="Agregar Vendedor" data-toggle="modal" data-target="#agregarVendedor" >
          <mat-icon >add_box</mat-icon>
         </button>
      </form>
     
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="anchoth">Cédula</th>
          <th scope="col" class="anchotd">Nombres</th>
          <th scope="col" class="anchotd">Apellidos</th>
          <th scope="col" class="anchotd">Teléfono</th>
          <th scope="col" class="anchotd">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="data; then data1 else sinData"></div>
        <ng-template #data1>
          <tr *ngFor="let fila of datos |search:filtro | paginate:page_size:page_number">
            <td class="item-fila">{{fila.cedula}}</td>
            <td class="item-fila">{{fila.nombres}}</td>
            <td class="item-fila">{{fila.apellidos}}</td>
            <td class="item-fila">{{fila.telefono}}</td>
            <td class="item-fila">
              <button class="btn btn-warning editButton" title="Editar Vendedor" data-toggle="modal" data-target="#editarVendedor" (click)="edit(fila)">
                <mat-icon class="edIcon">edit</mat-icon>
              </button>
              <button class="btn btn-danger editButton" title="Eliminar Vendedor" data-toggle="modal" data-target="#eliminarVendedor" (click)="delete(fila)">
                <mat-icon class="edIcon">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template #sinData>
          <tr>
            <td colspan="5">Sin datos</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <mat-paginator [length]="[datos.length]" [pageSize]="page_size" [pageSizeOptions]="[5, 10,20,50, 100]"
      (page)="paginator($event)" showFirstLastButtons *ngIf="data">
    </mat-paginator>
  </div>
</div>

<!-- Modal Agregar Vendedor-->
<div class="modal fade" id="agregarVendedor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="body-modal" class="div-modal">
        <app-vendedor-registrer (emitUpdate)="actualizarV($event)"></app-vendedor-registrer> 
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Vendedor-->
<div class="modal fade" id="eliminarVendedor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="body-modal" class="div-modal">
        <app-vendedor-delete [data]="vendedorDelete" (emitUpdate)="actualizarV($event)"></app-vendedor-delete>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Vendedor-->
<div class="modal fade" id="editarVendedor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="body-modal" class="div-modal">
        <app-vendedor-editar [data]="vendedorEdit" (emitUpdate)="actualizarV($event)"></app-vendedor-editar>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>