.div-contenedor{
  display: flex;
}
 

#iniciarSesion {
  color: #fff;
  background-color: #212529;
  border-color:#212529;
  -webkit-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 20px -13px rgba(0,0,0,0.75);  
}

mat-icon{
  color:#212529;
}

.icon-email{
  margin-right:8px !important;
}

#btn-crearC:hover{
 color: #0a0a0a;
 text-decoration: underline;
 transition: 300ms all;
}
.btn-contraseña{
  border: none !important;
  background-color: white !important;
}


.container #logoInicio{
    display: flex;
    margin: 0 auto;
  }
  #logoInicio{
    width: 164px;
    height: 165px;
    margin-bottom: 13px !important;
  }

  .div-fondo{
    background-image: url(../../../assets/imagenes/fondo2.jpeg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 72%;
    height: 104vh; 
  }
  
  .login-form{
    width: 28%;
    background-color: white;
    overflow: auto;
    height: 105vh;    
    margin-top: -7px; 
    -webkit-box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
    -moz-box-shadow:-2px 1px 12px 0px rgba(217, 219, 219, 0.9);
    box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
  }
  .validar{
    margin-bottom: 0 !important;
  }
  .mat-form-field{
    width : 100% !important;
  }
  
  .form-group a:Hover{
   /*color: #17A2B8; */
   color: #0a0a0a;
   text-decoration: underline;
   transition: 300ms all;
  }
  
  .input-group-text img{
    width: 20px;
    height: 20px; 
  }
  #btn-crearC{
    font-style: italic;
    font-size: small;
    text-decoration: none;
    color: black;
    
  }
  .form-group #btn-crearC, .form-group #btn-olvideC{
   display: flex;
   justify-content: center;
  }
  
  .error{
    font-style: italic; 
    font-size: small;
    color: #DB0D0D;    
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  @media  (max-width: 1024px){
    .login-form{   
      width: 50%;  
    }
    .div-fondo{
      width: 60%;
    }
   }
  @media  (max-width: 772px){
   .login-form{   
     width: 100%;  
   }
   .div-fondo{
     display: none;
   }
  }
  
  @media  (max-width: 298px){
    #logoInicio{
      width: 102px;
      height: 99px;
    }
    #btn-olvideC{
      font-size: small;
    }   
   }  
  
  
   .invalid {
    border: 1px solid #DB0D0D;
  }
  .valid {
    border: 1px solid  #00923F;
  } 
  

#containerMayor{
  position: relative;
 
}

#title-Inicio{
      
  text-align: center;
  padding-bottom: 0 !important;
  }