.contenedor-principal{
    margin-top: 17px;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    height: 97vh;
    overflow: auto !important;
    scrollbar-width: none; 
   }
   
   .contenedor-principal::-webkit-scrollbar {
       display: none !important;
       
   }

   .div-contenido{
    text-align: center;
     min-width: 0;  
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
     border-radius:0.45rem  0.45rem 0rem 0rem;
     height: 105vh; 
     overflow: auto !important;
 }

 

th{
    background-color: #f1f3f4;
    font-size: 13px;
}

.table {
    width: 100% !important;
    margin-bottom: 0.3rem;
    color: #212529;
}

.container table{
 font-size: 14px;
}
td{
    padding:0 !important;
    margin: 0 !important;
    width: 11%;
}

.anchotd{
    margin: 0 auto !important;
   /* width: 10px !important; */
}

.editButton{
    padding: 0px 0px 0px 0px !important;
    margin: 2px 6px 2px 0px !important;
    width: 4vh;
}
.mat-form-field{
    width : 90% !important;
}
.div-search-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



