.contenedor-principal{
    margin-top: 17px;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
    height: 97vh;
    overflow: auto !important;
    scrollbar-width: none; 
   }
   
   .contenedor-principal::-webkit-scrollbar {
       display: none !important;
       
   }

   .div-contenido{
    text-align: center;
     min-width: 0;  
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
     border-radius:0.45rem  0.45rem 0rem 0rem;
     height: 105vh; 
     overflow: auto !important;
 }

 .table td, .table th {
    padding: 0.25rem !important;
}

th{
    background-color: #f1f3f4;
}

.table {
    width: 100%;
    margin-bottom: 0.3rem;
    color: #212529;
}

.container table{
 font-size: 13px;
}
td{
    padding:0 !important;
    margin: 0 !important;
    width: 30% !important;
}







