<div class="div-contenido">
    <h4>Ver Ingreso</h4>

    <div class="estilo">
        <div class=" div-ingreso">
            <h6>Datos de Ingreso</h6>
            <mat-divider></mat-divider>
            <div class="div-vendedor-label">
                <label for="">Fecha Ingreso:</label>
                <label for="">Número de Acta:</label>
                <label for="">Cantidad Ingresada:</label>
            </div>

            <div class="div-vendedor-contenido prueba">
                <p>{{datos["fechaIngreso"]}}</p>
                <p>{{datos["numero_acta"]}}</p>
                <p>{{datos["cantidadIngresada"]}}</p>
            </div>

        </div>
        <mat-divider></mat-divider>
        <div class="div-vendedor">
            <h6>Información del vendedor</h6>
            <mat-divider></mat-divider>
            <div class="div-vendedor-label">
                <label for="">Cédula:</label>
                <label for="">Nombres:</label>
                <label for="">Apellidos:</label>
                <label for="">Teléfono:</label>
            </div>

            <div class="div-vendedor-contenido" *ngFor="let fila of datosVen">
                <p>{{fila.cedula}}</p>
                <p>{{fila.nombres}}</p>
                <p>{{fila.apellidos}}</p>
                <p>{{fila.telefono}}</p>

            </div>

        </div>
        <mat-divider></mat-divider>
        <div class="div-producto">
            <h6>Información de los productos</h6>
            <mat-divider></mat-divider>


            <table class="table table-bordered ">

                <thead>

                    <tr>
                        <th scope="col" class="anchoth1">Nombre</th>
                        <th scope="col" class="anchoth2">Descripción</th>
                        <th scope="col" class="anchoth3">Codigo Barra</th>
                        <th scope="col" class="anchoth4">Cantidad</th>
                        <th scope="col" class="anchoth5">Riesgo </th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="data; then data1 else sinData"></div>
                    <ng-template #data1>
                        <tr *ngFor="let fila of datosPro">
                            <td>{{fila.nombre}}</td>
                            <td title="{{fila.descripcion}}">{{fila.descripcion}}</td>
                            <td>{{fila.codigoBarra}}</td>
                            <td>{{fila.cantidadUnitaria}}</td>
                            <td>{{fila.riesgo}}</td>
                        </tr>
                    </ng-template>
                    <ng-template #sinData>
                        <tr>
                            <td colspan="5">Sin datos</td>
                        </tr>
                    </ng-template>


                </tbody>
            </table>
        </div>
        <div class="div-footer">
            <div class="div-footer-left">
                <div>
                    <label for="">Recibió:</label>
                    <p>{{datos["recibe"]}}</p>
                </div>
                <div>
                    <label for="">Operativo:</label>
                    <p>{{datos["operativo"]}}</p>
                </div>
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Regresar</button>
        </div>
    </div>
</div>