.div-container{
    display: flex;

}
.div-menu{
    width: 20%;
    background-color: white;
    overflow: auto;
    height: 105vh;    
    margin-top: -7px; 
    -webkit-box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
    -moz-box-shadow:-2px 1px 12px 0px rgba(217, 219, 219, 0.9);
    box-shadow: -2px 1px 12px 0px rgba(217, 219, 219, 0.9);
}
#div-logo-dashboard{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}
i{
    margin-right: 10px;
}

#logo-dashboard{
    width: 114px;
    height: 105px;
    margin-bottom: 13px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}


#salida{
    transform: rotate(180deg);
}

.div-lista-datos{
 display: flex;
 flex-direction: column;

}

.div-lista-datos a{
    text-decoration: none;
    color:black;
    margin: 1px;
    padding: 7px;
  font-size: small;  
}

.div-lista-datos a:hover,#div-dashboard-item a:hover{
    background-color:#f1f3f4;
}
#div-dashoard-item{
    border-radius: 4px;
}

#div-dashboard-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 12px;
    margin-left: 14px;
}

.div-aleatorio{
    width: 80%;
}

.container button{
    background-color: white;
    border: none;
    font-size: initial;
    line-height: initial;
}
.div-name-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-name-button mat-menu{
    background-color: white;
    border: none;
}

@media (max-width: 991px){
    .div-name-button h5 {
        font-size: 15px;
    }
   
}