<div class="div-container">
  <div class="div-menu">
    <header>
      <div class="container  my-4" id="div-logo-dashboard">
        <img src="../../assets/imagenes/logo.png" alt="LOGO SIBEPct" id="logo-dashboard" class="img-fluid">
        <div class="div-name-button">
          <h5>{{name}}</h5>
          
          <button  [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span (click)="cerrarSesion()">Cerrar Sesión</span>
            </button>

          </mat-menu>
         
        </div>
        <p class="badge badge-secondary" *ngIf="admin">Administrador</p>
      </div>

      <nav class="my-2">
        <div id="div-dashboard-item">
          <a routerLink="dashboard" routerLinkActive="item-estado">
            <i class="material-icons md-18" routerLinkActive="item-estado">dashboard</i>
            Dashboard
          </a>
        </div>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header routerLink="vendedor" routerLinkActive="item-estado">
            <mat-panel-title>
              <i class="material-icons md-18">person</i>
              Vendedores
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos">
            <a routerLink="vendedor">Gestionar Vendedores</a>
            <a routerLink="vendedor/vendedor-delete">Vendedores Eliminados</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header routerLink="ingreso" routerLinkActive="item-estado">
            <mat-panel-title>
              <i class="material-icons md-18">input</i>
              Ingresos
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos">
            <a routerLink="ingreso">Gestionar Ingresos</a>
            <a routerLink="ingreso/delete-ingreso">Ingresos Elimindados</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header routerLink="salida" routerLinkActive="item-estado">
            <mat-panel-title>
              <i class="material-icons md-18" id="salida">input</i>
              Salidas
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos">
            <a routerLink="salida">Registrar Salida a Vendedor</a>
            <a routerLink="salida/registrer-salida-destruccion">Registrar Salida a Destrucción</a>
            <a routerLink="salida/search-salida">Buscar Salida</a>
            <a routerLink="salida/delete-salida">Eliminar Salida</a>
            <a routerLink="salida/list-salida">Todas los Salidas</a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header routerLink="producto" routerLinkActive="item-estado">
            <mat-panel-title>
              <i class="material-icons md-18 ">category</i>
              Productos
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos">
            <a routerLink="producto" >Registrar Producto</a>
            <a routerLink="producto/edit-producto" routerLinkActive="item-estado">Editar Producto</a>
            <a routerLink="producto/search-producto" routerLinkActive="item-estado">Buscar Producto</a>
            <a routerLink="producto/delete-producto" routerLinkActive="item-estado">Eliminar Producto</a>
            <a routerLink="producto/list-producto" routerLinkActive="item-estado">Todos los Producto</a>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header routerLink="usuario" routerLinkActive="item-estado" >
            <mat-panel-title>
              <i class="material-icons md-18 ">people</i>
              Usuarios
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos" >
            <a routerLink="usuario" routerLinkActive="item-estado">Gestionar Usuarios</a>
            <a routerLink="usuario/usuarios-delete" routerLinkActive="item-estado">Usuarios Eliminados</a>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
          <mat-expansion-panel-header routerLink="log" routerLinkActive="item-estado">
            <mat-panel-title >
              <i class="material-icons md-18 ">settings</i>
              Datos del sistema
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="div-lista-datos">
            <a routerLink="log" routerLinkActive="item-estado"> Logs</a>
           
          </div>
        </mat-expansion-panel>

        <mat-icon aria-hidden="false" aria-label="Ejemplo de icono de inicio"> inicio </mat-icon>

      </nav>
    </header>
  </div>
  <div class="div-aleatorio">
    <router-outlet></router-outlet>
  </div>

</div>